body {
	color:#333;
	font-size:18px;
	background-color:#f8f8f8;
	padding:2rem;
}

h1 {
    margin-bottom:2rem;
}

header {
    margin-bottom:1rem;
}

nav ul {
    padding:0;
    margin:0;
}

nav ul li {
    list-style-type:none;
    display:inline-block;
    margin-left:2rem;
}

/* customizations */
a {
	color:#33A0FF;
}
a:hover, a:focus, a:active {
	text-decoration: none;
	color:#333;
}

.btn {
	border-radius:0;
	border:0;
	font-weight:bold;
}

.btn-primary {
	background-color:#33A0FF;
}

.form-control {
	border-radius:0;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper select {
	padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
	color:#595959;
	font-style: italic;
}

table.dataTable {
    border:1px solid #d6d6d6;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color:transparent !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding:1rem;
}

nav ul li {
    padding:1rem 0;
}

.tab-pane {
    border:1px solid #dee2e6;
    border-top:0;
    padding:2rem;
}